@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

input, #app, select, button {
  font-size: 1.4rem;
  color: var(--color-text);
}

text {
  font-size: 1.4rem !important;
}

a,
.green {
  text-decoration: none;
  color: hsl(40, 88%, 57%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}

.card {
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
}
